header {
  background: rgb(36, 0, 0);
  background: radial-gradient(
    circle,
    rgba(36, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.pokemon {
  background-color: rgb(223, 223, 57);
  border-radius: 13%;
}
.col-md-4 {
  padding: 0;
}
@media screen and (min-width: 411.9px) and (max-width: 844.9px) {
  .tarjeta-pokemon {
    display: flex;
    justify-content: center;
    width: 70%;
  }
}

.pokemon {
  width: 70%;

  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768.9px) {
  .pokem {
    width: 220px;
  }
  .pokeb {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 130px;
  }
  .app {
    background-image: url(https://www.ssbwiki.com/images/thumb/7/73/SSBU-Pok%C3%A9mon_Stadium_2.png/1200px-SSBU-Pok%C3%A9mon_Stadium_2.png);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
  }
}
@media screen and (min-width: 768.9px) {
  .app {
    background-image: url(https://www.ssbwiki.com/images/thumb/7/73/SSBU-Pok%C3%A9mon_Stadium_2.png/1200px-SSBU-Pok%C3%A9mon_Stadium_2.png);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;

  }
}

@media screen and (min-width: 1024px) {
  .pokebola {
    margin-left: -20px;
    margin-right: -20px;
  }

  .modal-header {
    height: 95vh; /*MEJORAR POR TAMAÑO DE PANTALLA*/
  }
  .app {
    background-image: url(https://www.ssbwiki.com/images/thumb/7/73/SSBU-Pok%C3%A9mon_Stadium_2.png/1200px-SSBU-Pok%C3%A9mon_Stadium_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
  }
}

.boton {
  border-color: transparent;
  background-color: transparent;
}

.boton:hover,
.boton:active,
.boton:focus {
  border-top-left-radius: 50%;
  border-top-right-radius: 10%;
  border-radius: 10%;
  outline: none; /*quita el foco alrededor del boton al hacer clic*/
}

.row {
  width: 100%;
  margin: 0px;
}

.imgModal {
  width: 50%; /*MEJORAR POR TAMAÑO DE PANTALLA*/
  position: relative;
  top: -30px;
  display: block;
  margin: auto;
}

.imgModalIzq,
.imgModalDer {
  width: 95%;
  position: relative;
  top: -30px;
  display: block;
  margin: auto;
}

.container-msje {
  width: 100%;
}

.msje {
  text-align: center;
  height: min-content;
}

.modal-header {
  padding: 0;
}
.close {
  position: relative;
  top: 8px;
  right: 13px;
}

.imgSnorlax{
  padding-left: 8px;
}