header {
  background: rgb(36, 0, 0);
  background: radial-gradient(
    circle,
    rgba(36, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.pokemon {
  background-color: rgb(223, 223, 57);
  border-radius: 10%;
}
.col-md-4 {
  padding: 0;
}
@media screen and (min-width: 411.9px) and (max-width: 844.9px) {
  .tarjeta-pokemon {
    display: flex;
    justify-content: center;
    width: 70%;
  }
}
.pokemon {
  width: 70%;

  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768.9px) {
  .pokem {
    width: 220px;
  }
  .pokeb {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 130px;
  }
}

@media screen and (min-width: 1024px) {
  .pokebola {
    margin-left: -20px;
    margin-right: -20px;
  }
}
